
@font-face {
    font-family: 'PTSans';
    src:  url('../fonts/PTSans.woff2') format('woff2'), 
    url('../fonts/PTSans.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'PTSans';
    src: url("../fonts/PTSans-Bold.woff2") format('woff2'), 
    url("../fonts/PTSans-Bold.woff") format('woff');
    font-weight: 700;
}


body {
    margin: 0 auto;
    background: var(--main-color11);
}
:root {
    --main-color: #F2F2F2;
    --main-color1: #FFFFFF;
    --main-color2: #81B3D2;
    --main-color3: #EEEEEE;
    --main-color4: #766357;
    --main-color5: #000000;
    --main-color6: #669EC0;
    --main-color7: #5496BD;
    --main-color8: #604E43;
    --main-color9: #503E33;
    --main-color10: #BDBBBC;
    --main-color11:  #f7f7f7;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-color5);
}
html {
    font-family: "PTSans","Arial", sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px var(--main-color3);
    
}
/*HEADER*/
.header-navigation {
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--main-color);
    background: var(--main-color1);
}
.header-navigation-list {
    width: 1200px;
    padding-left: unset;
    display: flex;

    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
 
.header-navigation-list-item:nth-child(1) {
    margin-left: 72px;
}
.header-navigation-list-item:nth-child(2) {
    margin-left: 134px;
}
.header-navigation-list-item:nth-child(3) {
    margin-left: auto;
    margin-right: 147px;
}

.header-navigation-list-item:nth-child(4) {
    margin-right: 72px;
}


.header-item:hover {
    color: var(--main-color6);
}
.header-item:active {
    color: var(--main-color10);
}

.header-navigation-logo {
    position: absolute;
    z-index: 1;
}

/*Surface*/
.header-surface {
    background: url("../img/surface-jpg.jpg") no-repeat;
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-surface::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background: url('../img/shape-header.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0;
}



/*section-promo*/
.section-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    text-align: center;
    min-height: 216px;
    background: var(--main-color1);
}
.section-promo-head {
    margin-top: 41.5px;
    margin-bottom: unset;
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
    width: 470px;
    
    min-height: 80px;
}
.section-promo-text {
    margin-top: 16.5px;
    max-width: 520px;
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
/*section_description*/
.section-description-block {
    display: flex;
    flex-direction: row;
    
}
.section-description-block-text {
    width: 400px;
    /*height: 256px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--main-color2);
}
.section-img {
    width: 100%;
    max-width: 800px;
    height: 256px;
    display: block;
}
.block-head {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--main-color1);
    margin-top: 47px;
    text-transform: uppercase;
}
.real-city {
    width: 122px;
}
.devils-bridge {
    width: 150px;
    margin-top: 50px;
}
.block-number {
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
    text-transform: uppercase;
}
.block-text {
    margin-top: 10px;
    max-width: 302px;
    height: 43px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
    text-transform: uppercase;
}

.section-description-list {
    margin-top: unset;
    margin-bottom: unset;
    padding-left: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    background: var(--main-color1);
}


.section-description-list-item {
    width: 290px;
    text-align: center;
}
.item-accomodation {
    background: url("../img/icon-1.svg") no-repeat;
    background-position: top center;
    margin-top: 64.15px;
    width: 254px;
}
.item-food {
    background: url("../img/icon-3.svg") no-repeat;
    background-position: top center; 
    margin-top: 61px;
    width: 297px;
}
.item-souvenir {
    background: url("../img/icon-2.svg") no-repeat;
    background-position: top center;
    margin-left: auto;
    margin-top: 56px;
    margin-right: 65px;
    width: 269px;
    height: 100%;
}
.list-item-head {
    padding-top: 80px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.list-item-text {
    margin-bottom: 82px;
    display: block;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
.burger {
    margin-top: 27px;
}
.head-souvenir {
    margin-top: 24px;
}
.section-description-list-advantage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 96px;
    height: 256px;
    background: var(--main-color3);
    margin-top: 0;
    margin-bottom: unset;
}
.section-list-item-advantage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100%;
    margin-top: 47px;
    margin-bottom: 54px;
    
}
.little-area {
    max-width: 207px;
}
.beautiful-road {
    max-width: 258px;
    margin-left: 10px;
}
.little-tourist {
    margin-left: auto;
    margin-right: 77px;
    max-width: 246px;
}
.item-advantage-head {
    margin-top: unset;
    text-align: center;
    width: 100px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.item-advantage-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color5);
}
.three {
    margin-top: 10px;
}
.four {
    margin-top: 10px;
}
.five {
    margin-top: 9px;
}
.item-advantage-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
    margin-top: 11px;
}

/*section_form*/
.section-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--main-color1);
}
.section-form-head {
    margin-top: 58px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
   
}
.section-form-text {
    max-width: 435px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
    margin-top: 10px;
}
.section-form-button {
    display: flex;
    width: 568px;
    height: 86px;
    margin-top: 26px;
    background: var(--main-color4);
    color: var(--main-color1) ;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}
.search-sedona {
    margin-left: 130px;
    margin-top: 28px;
}
.section-form-button:hover {
    background: var(--main-color8);
}
.section-form-button:active {
    background: var(--main-color9);
}
.form-map {
    max-width: 100%;
    height: 594px;
    position: relative;
}
.section-form-container {
    width: 568px;
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color1);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    position: absolute;
    top: 100%;
    z-index: 12;
}
.section-form-container-name {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 55px;
    position: relative;
}
.departure {
    margin-top: 35px;
}
.section-form-name {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-datetime {
    width: 346px;
    height: 38px;
    margin-left: 30px;
    background: var(--main-color);
    border: none;
}


.form-button {
    position: relative;
}
.amount-of-people {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 44px;
}
.form-amount {
    width: 35px;
    height: 38px;
    background: transparent;
    border: none;
}
.section-form-container-button {
    width: 458px;
    height: 58px;
    margin-top: 53px;
    background: var(--main-color2);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color1);
    border: none;
}
.amount-of-adults {
    width: 114px;
    height: 38px;
    background: var(--main-color);
    border: none;

}
.quantity-arrow {
    border: none;
}
.form-minus {
    padding-bottom: 4px;
}



/*Footer*/
.footer {
    /*background: url("../img/map.jpg") no-repeat;*/
    /*min-height: 594px;*/  
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
   
  

}
.footer-content {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);;
}
.footer-block-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: unset;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.footer-block-networks {
    margin-left: 168px;
}
.footer-block-networks-item {
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    background: var(--main-color2);
}
.block-item-img {
    margin-top: 14px;
}
.block-item-img:active {
    opacity: 0.3;
}
.footer-block-networks-item:hover {
    background: var(--main-color6);
}
.footer-block-networks-item:active {
    background: var(--main-color7);
}
.footer-block-networks-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}

.footer-block-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: 131px;
}
.footer-block-logo-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
.visit-sedona {
    margin-bottom: 9px;
}
.visit-sedona:hover {
   color: var(--main-color6);
}
.visit-sedona:active {
    color: var(--main-color10);
}
.footer-number {
    margin-bottom: 15px;
}
.footer-number:hover {
    color: var(--main-color6);
}
.footer-number:active {
    color: var(--main-color10);
}



/*CATALOG PAGE*/
.infrustructure-form {
    background: url("../img/background-catalog.jpg") no-repeat;
    min-height: 217px;
    display: flex;
    flex-direction: row;
}
.block-living-advantages {
    margin-left: 73px;  
}
.block-living-conditions {
   margin-left: 119px;
}
.block-living-price {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 73px;
}
.price-button {
    margin-top: 22.5px;
    margin-left: 90px;
    width: 138px;
    height: 36px;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid var(--main-color1);
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color1);
}
.form-head {
    margin-top: 26.5px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color1);
}
.form-list {
    margin-top: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
    gap: 16px;
    padding-left: unset;
}


a.footer-logo:hover svg path {
    fill:var(--main-color2);
}
a.footer-logo:active svg path {
    fill: var(--main-color10);
}


/*Checkbox*/
.label-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color1);
}
.form-list-item {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.form-list-item input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.form-list-item span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.form-list-item span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url(../img/box-before.svg) 0 0 no-repeat;
}
 
/* Checked */
.form-list-item input[type=checkbox]:checked + span:before {
	background-image: url(../img/checkbox-on.svg);
    width: 27px;
}
 
/* Focus */
.focused span:before {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover */
.form-list-item span:hover:before {
	filter: brightness(110%);
}
 
/* Active */
.form-list-item span:active:before {
	filter: brightness(80%);
}
 
/* Disabled */
.form-list-item input[type=checkbox]:disabled + span {
	color: #666;
	cursor: default;
}
.form-list-item input[type=checkbox]:disabled + span:before {
	filter: grayscale(100%);
	opacity: 0.6;
}
/*iputs-form*/
.block-living-price-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 317px;
    height:34px;
    border: 2px solid var(--main-color1);
    border-radius: 2px;
}
.input-price {
    background: transparent;
    max-width: 55px;
    border: unset;
    color: var(--main-color1);
}
.input-price-from {
    width: 25px;
    background: transparent;
    border: unset;
    color: var(--main-color1);
}
.label-form {
    width: 58px;
    padding-left: 52px;
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color1);
    text-transform: uppercase;
}
.label-form-to {
    width: 84px;
    height: 22px;
    padding-left: 45px;
    border-left: 2px solid var(--main-color1);
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color1);
    text-transform: uppercase;
}
.slider {
    margin-top: 10px;
    width: 316px;
    height: 21px;
    background: url('../img/progress.svg')no-repeat center;
    display: flex;
    flex-direction: row;
    gap: 231px;
    position: relative;
}
.cicrcle-button {
   border-radius: 50%;
   border: none;
   width: 19px;
   height: 21px;
   z-index: 2;
}


.rectangle {
    position: absolute;
    z-index: 0;
    bottom: 6.5px;
}


/*range-of-hotels*/
.range-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}
.range-menu-head {
    margin-top: 29px;
    margin-bottom: 31px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 73px;
    text-transform: uppercase;
}
.range-menu-sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 46px;
    text-transform: uppercase;
}

.menu-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.range-menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.range-menu-list-item {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color:var(--main-color2);
    text-transform: uppercase;
    gap: 40px;
}
.range-menu-list-item:hover {
    color: var(--main-color4);
    border-bottom: 1px solid var(--main-color2);
}
.range-menu-list-item:active {
    color: var(--main-color5);
    border-bottom: unset;
}
.range-menu-list-scroll {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-right: 73px;
}
.range-menu-hotels-item {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-right: 73px;
    margin-left: unset;
    border-bottom: 1px solid var(--main-color3);
}
.hotels-item-information {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 30px;
}
.range-menu-hotels {
    margin-top: unset;
    padding-left: unset;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.hotels-item-range {
    display: flex;
    align-items:flex-end;  
    flex-direction: column;
    gap: 47px;
    
    
}
.item-informaton-head {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.item-head {
    margin-top: 28px;
    margin-bottom: unset;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.item-information-head:hover  {
    color: var(--main-color2);
}
.item-information-head:active {
     color: var(--main-color10);
     
     
}
.hotel-description {
     margin-left: 29px;
    
     margin-top: unset;
     display: flex;
     flex-direction: column;
}
.button-text:active {
    opacity: 0.3;
}
.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 27px;
    background: var(--main-color2);
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color1);
    text-transform: uppercase;   
}
.learn-more:hover {
    background: var(--main-color2);
}
.learn-more:active {
     background: var(--main-color7);
}
.book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 27px;
    background: var(--main-color4);
    color: var(--main-color1);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;   
}
.book:hover {
    background: var(--main-color8);  
}
.book:active {
    background: var(--main-color9);
}
.hotel-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.hotel-buttons-price {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.hotel-price {
    margin-top: 8px;
    margin-bottom: 13.3px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}
.hotel-img {
    margin-top: 30px;
    margin-left: 73px;
}
.item-range {
    width: 110px;
    height: 27px;
    background: var(--main-color);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: unset;
    justify-content: center;
    text-transform: uppercase;
}
.stars-list {
    margin-top: 17px;
}
.footer-content-catalog { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    max-width: 1200px;
    background: white;
}

.quantity-arrow:hover svg path {
    fill: var(--main-color5);
}
.quantity-arrow:active svg path {
    fill: var(--main-color6);
}

.quantity-arrow:hover svg rect {
    fill: var(--main-color5);
}
.quantity-arrow:active svg rect {
    fill: var(--main-color6);
}
.section-form-container-button:hover {
    background: var(--main-color6);
}
.section-form-container-button:active {
    background: var(--main-color7);
}
.search:active {
    opacity: 0.3;
}


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}

.button-calendar {
    border: none;
    background: none;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 60px;
   
}
.form-date-calendar {
    display: flex;
    flex-direction: row;
    position: relative;
}
.button-departure {
    top: 40px;
}
.food {
    margin-top: 20px;
    padding-right: 4px;
}
