
@font-face {
    font-family: 'PTSans';
    src:  url('../fonts/PTSans.woff2') format('woff2'), 
    url('../fonts/PTSans.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'PTSans';
    src: url("../fonts/PTSans-Bold.woff2") format('woff2'), 
    url("../fonts/PTSans-Bold.woff") format('woff');
    font-weight: 700;
}


body {
    margin: 0 auto;
}
:root {
    --main-color: #F2F2F2;
    --main-color1: #FFFFFF;
    --main-color2: #81B3D2;
    --main-color3: #EEEEEE;
    --main-color4: #766357;
    --main-color5: #000000;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-color5);
}
html {
    font-family: "PTSans","Arial", sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}
/*HEADER*/
.header-navigation {
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--main-color);
}
.header-navigation-list {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.header-navigation-list-item:nth-child(3) {
    margin-left: 300px;
}
.header-navigation-logo {
    position: absolute;
}

/*Surface*/
.header-surface {
    background-image: url('../img/shape-header.svg') no-repeat bottom;
    background: url("../img/surface-jpg.jpg") no-repeat;  
    height: 509px;
    display: flex;
    justify-content: center;
}
.header-surface-img {
    margin-top: 77px;
}
/*section-promo*/
.section-promo {
    display: flex;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    min-height: 216px;
}
.section-promo-head {
    margin-top: 41px;
    text-align: center;
    min-height: 80px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section-promo-text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
/*section_description*/
.section-description-block {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.section-description-block-text {
    width: 400px;
    height: 256px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--main-color2);
}
.section-img {
    width: 100%;
    max-width: 800px;
    height: 256px;
}
.block-head {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--main-color1);
    margin-top: 47px;
}
.block-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
}
.block-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
}
.section-description-list {
    padding-left: 73px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 330px;
}
.section-description-list-item {
    width: 290px;
    margin-top: 64px;
    text-align: center;
}
.item-accomodation {
    background: url("../img/icon-1.svg") no-repeat;
    background-position: top center;
}
.item-food {
    background: url("../img/icon-2.svg") no-repeat;
    background-position: top center; 
}
.item-souvenir {
    background: url("../img/icon-3.svg") no-repeat;
    background-position: top center;
}
.list-item-head {
    padding-top: 80px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.list-item-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}

.section-description-list-advantage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 60px;
    min-height: 330px;
    background: var(--main-color3);
    margin-top: -5px;
}
.section-list-item-advantage {
    display: flex;
    flex-direction: column;
    width: 254px;
    margin-top: 47px;
    text-align: center;
}
.item-advantage-head {
    width: 100px;
    margin-left: 75px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.item-advantage-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color5);
}
.item-advantage-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}

/*section_form*/
.section-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
.section-form-head {
    margin-top: 58px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section-form-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section-form-button {
    display: flex;
    width: 586px;
    height: 86px;
    margin-top: 24px;
    margin-left: 316px;
    background: var(--main-color4);
    color: var(--main-color1) ;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 125px;
    text-align: center;
}

/*Footer*/
.footer {
    background: url("../img/map.jpg") no-repeat;
    min-height: 594px;  
    display: flex;
    align-items: flex-end;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
}
.footer-block-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.footer-block-networks-item {
    width: 46px;
    height: 48px;
    display: flex;
    justify-content: center;
    background: var(--main-color2);
}
.block-item-img {
    margin-top: 14px;
}
.footer-block-networks-item:hover {
    background: var(--main-color2);
}
.footer-block-networks-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}

.footer-block-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.footer-block-logo-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}

/*CATALOG PAGE*/
.infrustructure-form {
    background: url("../img/background-catalog.png") no-repeat;
    height: 215px;
    display: flex;
    flex-direction: row;
}
.block-living-advantages {
    margin-left: 85px;  
}
.block-living-conditions {
   margin-left: 100px;
}
.block-living-price {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 73px;
}
.price-button {
    margin-top: 40px;
    margin-left: 55px;
    width: 138px;
    height: 36px;
    background: transparent;
    border: 2px solid var(--main-color1);
    font-size: 14px;
    line-height: 21px;
    color:#FFFFFF;
}
.form-head {
    margin-left: 15px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color1);
}
.form-list {
    margin-top: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
    gap: 22px;
    padding-left: unset;
}


/*Checkbox*/
.label-text {
    margin-left: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color1);
}
.form-list-item {
	display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.form-list-item input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.form-list-item span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}
.form-list-item span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url(../img/box-before.svg) 0 0 no-repeat;
}
 
/* Checked */
.form-list-item input[type=checkbox]:checked + span:before {
	background-image: url(../img/checkbox-on.svg);
    width: 27px;
}
 
/* Focus */
.focused span:before {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover */
.form-list-item span:hover:before {
	filter: brightness(110%);
}
 
/* Active */
.form-list-item span:active:before {
	filter: brightness(80%);
}
 
/* Disabled */
.form-list-item input[type=checkbox]:disabled + span {
	color: #666;
	cursor: default;
}
.form-list-item input[type=checkbox]:disabled + span:before {
	filter: grayscale(100%);
	opacity: 0.6;
}
/*iputs-form*/
.block-living-price-inputs {
    display: flex;
    flex-direction: row;
}
.input-price {
    background: transparent;
    border: 2px solid #FFFFFF;
    width: 110px;
    height: 36px;
}
::placeholder {
    font-family: 'PTSans';
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 28px;
}

/*range-of-hotels*/
.range-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}
.range-menu-head {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 95px;
}
.range-menu-sort {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 46px;
    text-transform: uppercase;
}
.menu-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.range-menu-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.range-menu-list-item {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color:var(--main-color2);
    text-transform: uppercase;
    gap: 40px;
}
.range-menu-list-item:hover {
    color: var(--main-color4);
    border-bottom: 1px solid var(--main-color2);
}
.range-menu-list-scroll {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-right: 50px;
}
.range-menu-hotels-item {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-left: unset;
    border-bottom: 1px solid #E5E5E5;
}
.hotels-item-information {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.range-menu-hotels {
    padding-left: unset;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.hotels-item-range {
    display: flex;
    align-items:flex-end;  
    flex-direction: column;
    gap: 47px;
    margin-top: 29px;
}
.item-informaton-head {
    margin-top: unset;
    font-size: 21px;
    line-height: 26px;
}
.hotel-description {
     margin-left: 29px;
     margin-top: unset;
}
.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 27px;
    background: var(--main-color2);
    font-size: 14px;
    line-height: 21px;
    color: var(--main-color1);
    text-transform: uppercase;   
}
.book {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 27px;
    background: var(--main-color4);
    color: var(--main-color1);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;   
}
.hotel-buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.hotel-price {
    margin-top: unset;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
}
.hotel-img {
    margin-top: 30px;
    margin-left: 90px;
}
.item-range {
    width: 110px;
    height: 27px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}




