:root {
    --main-color: #F2F2F2;
    --main-color1: #FFFFFF;
    --main-color2: #81B3D2;
    --main-color3: #EEEEEE;
    --main-color4: #766357;
    --main-color5: #000000;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-color5);
}
html {
    font-family: "PTSans";
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/*HEADER*/
.header_navigation {
    display: flex;
    height: 56px;
    justify-content: center;
    color: var(--main-color);
}
.header_navigation-list {
    width: 531px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.header_navigation-list1 {
    width: 530px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.header_surface {
    background-image: url("img/background-index.png");
    min-height: 509px;
    display: flex;
    justify-content: center;
}
.header_surface-img {
    margin-top: 70px;
}
/*section1*/
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 216px;
}
.section1-head {
    margin-top: 41px;
    margin-left: 356px;
    width: 470px;
    min-height: 80px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section1-text {
    margin-left: 340px;
    width: 519px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
/*section2*/
.section2_block1 {
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}
.section2_block1-text {
    width: 400px;
    height: 256px;
    text-align: center;
    background: var(--main-color2);
}
.block1-head {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--main-color1);
    width: 122px;
    margin-left: 139px;
    margin-top: 47px;
}
.block1-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
}
.block1-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
    width: 302px;
    margin-left: 49px;
}
.section2_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 330px;
}
.section2_list-item {
    width: 290px;
    margin-top: 64px;
    text-align: center;
}
.section2_list-item-head {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section2_list-item-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section2_block2 {
    display:flex;
    flex-direction: row;
}
.section2_block2-text {
    width: 400px;
    height: 256px;
    text-align: center;
    background: var(--main-color2);
}
.block2-head {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--main-color1);
    width: 149px;
    margin-left: 126px;
    margin-top: 47px;
}
.block2-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
}
.block2-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color1);
    width: 302px;
    margin-left: 49px;
}
.section2_list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 330px;
    background: var(--main-color3);
    margin-top: -5px;
}
.section2_list1-item {
    display: flex;
    flex-direction: column;
    width: 254px;
    margin-top: 47px;
    text-align: center;
}
.list1-item-head {
    width: 100px;
    margin-left: 75px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.list1-item-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--main-color5);
}
.list1-item-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}

/*section3*/
.section3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 291px;
}
.section3-head {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.section3-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    width: 435px;
    margin-left: 383px;
    color: var(--main-color5);
}
.section3-button {
    width: 586px;
    height: 86px;
    margin-left: 316px;
    background: var(--main-color4);
    color: var(--main-color1) ;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 5px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color5);
}
.footer_block2-item {
    width: 46px;
    height: 48px;
    background: var(--main-color2);
}
.footer_block2-list {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.block2-item-img {
    margin: 16px;
}
.block2-item-img1 {
    margin-left: 16px;
    margin-top: 13px;
}
.block2-item-img2 {
     margin-left: 13px;
     margin-top: 16px;
}
.footer_block3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.footer_block3-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main-color5);
}




@font-face {
    font-family: 'PTSans';
    src:  url('fonts/PTSans.woff2') format('woff2'), 
    url('fonts/PTSans.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'PTSans';
    src: url("fonts/PTSans-Bold.woff2") format('woff2'), 
    url("fonts/PTSans-Bold.woff") format('woff');
    font-weight: 700;
}